{% extends 'layout.html' %}

{% block body %}
<br><br><br><br>
<h1 style="font-family: 'Montserrat', sans-serif;">About Us</h1>
<br>
<p style="font-family: 'Montserrat', sans-serif;" class="text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing
    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.</p><br>
<main role="main ">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
            
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 ">
            <img class="rounded-circle border"
                src={{logo}}
                alt="Generic placeholder image" width="140" height="140">
            <h2>Aryan Soni</h2>
            <p><b>Full Stack Developer</b>. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
                mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</main>
<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2021-2022 ASB, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
{% endblock %}